/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilos de encabezado */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  h1 {
    font-size: 36px;
  }
  
  /* Estilos de la sección del portafolio */
  .portfolio-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Estilos de las imágenes */
  .portfolio-item {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
  }
  
  .portfolio-item img {
    max-width: 100%;
  }
  
  /* Estilos de enlaces */
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  